$accent-color: #dc3545;
$background-color: #e1e1e1;

.list {
  list-style-type: none;
  display: grid; 
  //border: 1px solid red;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto auto auto;
  gap: 15px;
  justify-content: center;
}

.card {
  width: 100%; 
  padding: 0; 
  margin-bottom: 20px;
  height: 100%;
  background-color: $background-color;
  border-radius: 15px;

  figure {
    margin: 0; 
    width: 100%; 
    height: auto; 
  }

  img {
    width: 100%; 
    height: auto; 
    border-radius: 15px 15px 0 0;
  }

  .descriptionContainer {
    color: #000;
    margin: 0; 
    flex: 1; 
    padding-left: 20px;
    
    &:hover {
      cursor: pointer;
      color: $accent-color;
      transition: .25s ease-in;
    }
    
    h2 {
      font-weight: bold;
    }
    
    p {
      padding: 0;
      margin: 0;
      font-weight: lighter;
      font-size: 14pt;
    }
  }
  
  &:hover {
    scale: 101%;
    transition: 0.25s ease-in-out;
  }
}