$accent-color: #dc3545;
//$background-color: #242424;
$background-color: #e1e1e1;

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin clickable-text {
    font-weight: bold;
    color: $accent-color;
    font-size: 12pt;
    &:hover {
        //color: $accent-color;
        transition: .25s ease-in;
        scale: 110%;
    }
}

.navBar {
    @include flex-row;
    border-bottom: 1px solid $accent-color;
    background-color: $background-color;
    position: fixed;
    top: 0;
    left: 50%; // Center horizontally
    transform: translateX(-50%); // Adjust to center
    align-items: center; 
    justify-content: space-between;
    z-index: 1000;
    max-width: 100%;
    width: 100%;
    
    button {
        @include clickable-text;
        border: none;
        background: none;
    }
}

.navContainer {
    position: absolute;  
    left: 50%;  
    transform: translateX(-50%);
    display: flex; 
    gap: 4rem; 
    
    a {
        @include clickable-text;
        text-decoration: none;
    }
}

.logo {
    font-family: "Leckerli One", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 16pt;
    color: $accent-color;
    padding-left: 3%;
}

.login_button_container {
    margin-right: 3%;
}