$accent-color: #dc3545;
//$background-color: #242424;
$background-color: #ffffff;

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin clickable-text {
    font-weight: bold;
    color: $accent-color;
    font-size: 1rem;
    &:hover {
        transition: .25s ease-in;
        scale: 110%;
    }
}

.navBar {
    @include flex-row;
    border-bottom: 1px solid $accent-color;
    background-color: $background-color;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: center;

    z-index: 1000;
    width: 100%;
    padding: 10px 0;
    
    button {
        @include clickable-text;
        border: none;
        background: none;
    }
}

.innerContainer {
    @include flex-row;
    align-items: center; 
    justify-content: space-between;
}

.navContainer {
    display: flex; 
    gap: 4rem; 
    
    a {
        @include clickable-text;
        text-decoration: none;
    }
}

.logo {
    font-family: "Leckerli One", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 16pt;
    color: $accent-color;
}
