.gallery {
    // border: 2px solid black;
    max-width: 100%;
    padding: 0;

    &MainImage{
        width: 100%;
    }
}

.smallerImagesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    img {
        width: 20%;
        min-width: 150px;
        height: auto;
        margin: 0;

        &:hover{
            cursor: pointer;
        }
    }
}

.gallerySmallerImage {

    &:hover {
        scale: 95%;
        filter:opacity(60%);
        transition: .15s ease-in;
    }
}