$background-color: #242424;
$background-color: #dcdcdc;

body {
}

:root {
  font-family: system-ui;
  font-weight: bold;
  line-height: 1.5;

  background-color: $background-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width:  80%;
  margin: 0 auto; 
}